* {
	box-sizing: border-box;
}

*:focus {
	outline: 1px solid #ff3e00;
}

html,
body {
	font-family: 'Rubik', sans-serif;
	background-color: black;
	color: white;
	font-size: 100%;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

main {
	max-width: 600px;
	margin: 0 auto;
}

footer {
	font-size: 16px;
	margin: 80px auto 20px;
}

a {
	color: #ff3e00;
	text-decoration: none;
}
a:active, 
a:visited {
	color: #ff3e00;
}

a:hover {
	color: #ff3e00;
	text-decoration: underline;
}

svg {
	fill: white;
}

.bolded {
	font-weight: bold;
	color: #ff3e00;
}

.accent {
	color: #ff3e00;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.visually-hidden:active,
.visually-hidden:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
}